@tailwind base;
@tailwind components;
@tailwind utilities;

.button-wrapper {
  width: 2rem;
  height: 2rem;
}

nav {
  background-color: rgb(96 165 250);
  grid-template-rows: auto auto auto auto 1fr;
  grid-template-columns: 0fr;
}

.nav-opened {
  grid-template-columns: 1fr;
}

.nav-animation {
  transition: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.button {
  width: 2rem;
  height: 2rem;
  right: -1rem;
  border-radius: 9999px !important;
}

.arrow-animation {
  transform: scaleX(-1);
}
